table {
    width: 100%;
    margin-top: 30px;
    border-spacing: 0 8px;
    text-align: start;
}

table th {
    text-align: start;
    padding: 0;
    background-color: #21262d;
    color: white;
    padding: .6rem;
}

table td{
    background-color: #21262d;
    color: white;
    padding: .6rem;
    opacity: .9;
    transition: .5s;
}

tr:hover td {
    opacity: 1;
}

.btn-remove {
    cursor: pointer;
    margin-top: 5px;
    outline: none;
    background-color: transparent;
    border: none;
}